:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$页头高度: 50px;
$页头颜色: white;

.app-layout {
  height: 100vh;
}

// 页头
.page-header {
  padding: 0;
  width: 100%;
  z-index: 2;
  height: $页头高度;

  .app-header {
    position: relative;
    height: $页头高度;
    padding: 0;
    background: $页头颜色;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    display: flex;
    flex-direction: row;
    align-items: center;

    .sidebar-logo {
      position: relative;
      width: 200px;
      height: $页头高度;
      padding-left: 24px;
      overflow: hidden;
      line-height: $页头高度;
      background: $页头颜色;
      transition: all 0.3s;
    }

    .sidebar-logo h1 {
      display: inline-block;
      margin: 0 0 0 20px;
      color: #e23570;
      font-weight: 600;
      font-size: 30px;
      font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
      vertical-align: middle;
    }

    .header-menu {
      flex: 1;
      line-height: $页头高度;
    }
  }
}

// 侧边栏
.sidebar {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px 10px;

  .combination-list {
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .combination-list::-webkit-scrollbar {
    width: 10px;
  }

  .combination-list::-webkit-scrollbar-track {
    background: #fafafa;
  }

  .combination-list::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-radius: 20px;
    border: 2px solid #fafafa;
  }

  .list-item {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
  }
}

// 页面容器
.page-container {
  position: absolute;
  top: $页头高度;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

// 主页部分
.page-main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 200px;
  overflow-y: scroll;

  .page-nav {
    height: 40px;
    line-height: 40px;
  }
}

.ant-layout-sider {
  background-color: white;
}

.trigger:hover {
  color: #1890ff;
}

nz-content {
  margin: 0 20px;
}

.inner-content {
  margin-top: 20px;
  height: 100%;
}

.input-container {
  background-color: #f4f3f4;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .input-condition {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    .input-component {
      font-size: 14px;
      width: 300px;
    }

    .input-box {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .title {
        font-size: 12px;
        font-weight: bold;
        color: #555;
      }
    }
  }

  .input-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
  }
}
