<nz-layout class="app-layout">
  <nz-header class="page-header">
    <div class="app-header">
      <div class="sidebar-logo">
        <h1>BIOTOOL</h1>
      </div>
      <ul nz-menu nzMode="horizontal" class="header-menu">
        <li nz-submenu nzTitle="HBsAg">
          <ul>
            <li nz-menu-item (click)=changeExperimentType(item) *ngFor="let item of experimentTypeList | filterList: 'hbsag' ">{{item}}</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="HCV">
          <ul>
            <li nz-menu-item (click)=changeExperimentType(item) *ngFor="let item of experimentTypeList | filterList: 'hcv'">{{item}}</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="HIV">
          <ul>
            <li nz-menu-item (click)=changeExperimentType(item) *ngFor="let item of experimentTypeList | filterList: 'hiv'">{{item}}</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="TP">
          <ul>
            <li nz-menu-item (click)=changeExperimentType(item) *ngFor="let item of experimentTypeList | filterList: 'tp'">{{item}}</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="CMV">
          <ul>
            <li nz-menu-item (click)=changeExperimentType(item) *ngFor="let item of experimentTypeList | filterList: 'cmv'">{{item}}</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="其他">
          <ul>
            <li nz-menu-item (click)=changeExperimentType(item) *ngFor="let item of experimentTypeList | excludeList: 'hbsag':'hcv':'hiv':'tp':'cmv'">{{item}}</li>
          </ul>
        </li>
      </ul>
      <div class="link-db">
        <a nz-button nzType="link" (click)="showModal()">配置连接信息</a>
        <!-- <a nz-button nzType="link" (click)="updateSoft()">更新</a> -->
        <app-linkdb [(isVisible)]="isLinkDbVisible"></app-linkdb>
      </div>
    </div>
  </nz-header>

  <nz-layout class="page-container">
    <nz-sider>
      <div class="sidebar">
        <nz-range-picker nzSize="small" nzFormat="yyyy/MM/dd" [(ngModel)]="dateRange"
          (ngModelChange)="onDateRangeChange($event)"></nz-range-picker>
        <nz-input-group nzSize="small" [nzSuffix]="suffixIconSearch">
          <input [ngModel]="keywork" (ngModelChange)="keyworkChange($event)" type="text" nz-input placeholder="模糊搜索" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>

        <h3>选择组合</h3>
        <div *ngIf="experimentCombineLoading">加载组合中</div>
        <ul class="combination-list" nz-menu nzSize="small" nzMode="inline" nzInlineIndent="0">
          <li *ngFor="let item of experimentCombineList" (click)="experimentCombineChange(item['试剂批号'], item['样品批号'])"
            class="list-item" nz-menu-item nzOpen>
            <span>{{item['试剂批号'] }} - {{
              item['样品批号']}}</span>
          </li>
        </ul>
      </div>
    </nz-sider>

    <div class="page-main">
      <nz-layout>
        <nz-content>
          <div class="inner-content">
            <router-outlet></router-outlet>
          </div>
        </nz-content>
      </nz-layout>
    </div>
  </nz-layout>
</nz-layout>
