:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$页头高度: 50px;
$页头颜色: white;

.app-layout {
  height: 100vh;
}

// 页头
.page-header {
  padding: 0;
  width: 100%;
  z-index: 2;
  height: $页头高度;

  .app-header {
    position: relative;
    height: $页头高度;
    padding: 0;
    background: $页头颜色;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    display: flex;
    flex-direction: row;


    .sidebar-logo {
      position: relative;
      width: 200px;
      height: $页头高度;
      padding-left: 24px;
      overflow: hidden;
      line-height: $页头高度;
      background: $页头颜色;
      transition: all 0.3s;
    }

   
    .sidebar-logo h1 {
      display: inline-block;
      margin: 0 0 0 20px;
      color: #e23570;
      font-weight: 600;
      font-size: 30px;
      font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
      vertical-align: middle;
    }
  }
}

// 页面容器
.page-container {
  position: absolute;
  top: $页头高度;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

// 主页部分
.page-main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 200px;
  overflow-y: scroll;

  .page-nav {
    height: 40px;
    line-height: 40px;
  }
}

.ant-layout-sider {
    background-color: white;
}

.trigger:hover {
  color: #1890ff;
}

nz-content {
  margin: 0 20px;
}

.inner-content {
  margin-top: 20px;
  height: 100%;
}
