.delete-row {
    background-image: url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWOYOXPmfwAGZQLLnXb+UAAAAABJRU5ErkJggg==");
    background-repeat: repeat-x;
    background-position: 50% 50%;
}
