:host {
  display: flex;
  flex-direction: column;
  gap: 20px 10px;
}

nz-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

// 图表+统计数据
.info {
  display: flex;
  flex-direction: row;
}

// 图表
.echart {
  flex: 1;
}

// 统计表格
.statistics {
  width: 400px;
  padding-left: 10px;
}

.btn-group {
  display: flex;
  gap: 10px 10px;
}
