:host {
  display: flex;
  flex-direction: column;
  gap: 20px 10px;
}

.input-container {
  background-color: #f4f3f4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .input-condition {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    .input-component {
      font-size: 14px;
      width: 300px;
    }

    .input-box {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .title {
        font-size: 12px;
        font-weight: bold;
        color: #555;
      }
    }
  }

  .input-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
  }
}
